.stats {
  width: 100%;
  border-top: 1px solid #ddd;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #f3f6f9;
}

.stats > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;

  height: 80px;
  width: 33%;
}

.stats > li:not(:last-child) {
  border-right: 1px solid #ddd;
}

.label {
  font-size: 16px;
  color: grey
}

.quantity {
  font-size: 14px;
  font-weight: 900;
}
